<ion-header>
  <ion-toolbar class="ion-text-center" color="estimheader">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Modifique su videojuego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="estimbk">

  <ion-row>
    <ion-col>
      <ion-card color="estim">
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="productos.nombre" #nombre></ion-input>
          <ion-input type="text" [(ngModel)]="productos.fecha" #fecha></ion-input>
          <ion-input type="text" [(ngModel)]="productos.nombre" #desarrollador></ion-input>
          <ion-input type="text" [(ngModel)]="productos.nombre" #categoria></ion-input>
          <ion-input type="number" [(ngModel)]="productos.nombre" #precio></ion-input>
          <ion-input type="number" [(ngModel)]="productos.nombre" #precioDolar></ion-input>
          <ion-item color="estim">
            <ion-label>¿El juego es multijugador?</ion-label>
            <ion-checkbox slot="start" ></ion-checkbox>
          </ion-item>
          <ion-input type="text" [(ngModel)]="productos.nombre" #imagen></ion-input>
          <ion-input type="text" [(ngModel)]="productos.nombre" #comentario></ion-input>
          <ion-button class="shadow" color="btn" (click)="agregarProducto(nombre,fecha,desarrollador,categoria,precio,precioDolar,multi,imagen,comentario)">Agregar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
