<ion-header>
  <ion-toolbar class="ion-text-center" color="estimheader">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{producto.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentConfirm()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" color="estimbk">

  <ion-card color="estim">
    <ion-img class="portadaimg" [src]="producto.imagenURL"></ion-img>
    <ion-card-content>
      Fecha de lanzamiento: {{producto.fecha_lanzamiento}}
    </ion-card-content>
    <ion-card-content>
      Desarrollador: {{producto.desarrollador}}
    </ion-card-content>
    <ion-card-content>
      Categoria: {{producto.categoria}}
    </ion-card-content>
    <ion-card-content>
      Precio: ${{producto.precio}} CLP
    </ion-card-content>
    <ion-card-content>
      Precio en Dolares: {{producto.precioDolar}}$ USD
    </ion-card-content>
    <ion-card-content *ngIf=" producto.multi == true ; else elseBlock">
      Multijugador: Si
    </ion-card-content>
    <ng-template #elseBlock>
      <ion-card-content>
        Multijugador: No
      </ion-card-content>
    </ng-template>
  </ion-card>

  <h1 class="titulo">Comentarios</h1>
  <ion-row>
    <ion-col>
       <ion-list *ngIf=" producto.comentario && producto.comentario.length > 0; else sinComentario" >
         <ion-item *ngFor="let com of producto.comentario">
           {{com}}
         </ion-item>
       </ion-list>     

       <!-- ngTemplate: es un segmento de codigo que aparece bajo una condicion-->
       <ng-template #sinComentario>
         <ion-text>
           <p class="ion-text-center">Sin comentarios</p>
         </ion-text>
       </ng-template>

    </ion-col>
  </ion-row>

</ion-content>
